<?xml version="1.0"?>
<!--
/**
 * Copyright © Coduo. All rights reserved.
 * See COPYING.txt for license details.
 * https://www.coduo.cz | support@coduo.cz
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coduo_core>
            <general>
                <badge_notification>1</badge_notification>
            </general>
        </coduo_core>
    </default>
</config>
